{% extends 'core_app/layout.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'core_app/css/accessibility.css' %}">
{% endblock styles %}

{% block content %}
    <div class="form-group">
    <form method="POST">
        {% csrf_token %}
        <fieldset>
            <div class="form-legend-container justify-box-center">
                <legend class="form-legend">Join Fitness Project</legend>
            </div>

            {% for field in form %}
                <div class="main-form">
                    <p class="form-field">
                        {{ field.label_tag }} 
                        <div class="{% if field.errors %}input-error-highlight{% endif %}">{{ field }}</div>
                        {% if field.errors %}
                            <ul class="error-message">
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <span class="help-text">{{ field.help_text }}</span>
                    </p>
                </div>
            {% endfor %}     
        </fieldset>
        <div class="standard-button-container justify-box-center">
            <button>Sign Up</button>
        </div>
    </form>
    <div class="form-bottom-message justify-box-center">
        <small>
            Already have an account? <a href="{% url 'login-user' %}">Sign In</a>
        </small>
    </div>
    </div>
{% endblock content %}